*.iml
.DS_Store
/local.properties
/local.properties

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
.idea/inspectionProfiles.xml
.idea/vcs.xml
/BE/.env
/.env

/build
/app/build
/captures
.externalNativeBuild
.cxx
.gradle
