# Cấu hình IDE và Metadata (Android Studio)
*.iml
.DS_Store
/local.properties
/local.properties

# Thư mục IDE và Cache (Cần loại bỏ)
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/inspectionProfiles.xml
/.idea/vcs.xml

# THƯ MỤC BUILD VÀ OUTPUT (BẮT BUỘC)
/build
/app/build
/captures
.externalNativeBuild
.cxx
.gradle
